.Leyenda 
{
font-weight: bold;
text-decoration: underline
}

.uno 
{
background-color: rgb(106, 218, 130)
}

.dos 
{
background-color: rgb(119, 99, 211)
}

.tres 
{
background-color: rgb(192, 78, 131)
}

.cuatro 
{
background-color: rgb(197, 116, 69)
}

.cinco 
{
background-color: rgb(170, 49, 49)
}