#Titulo
{
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: brown;
    border: 1px solid white;
    animation: Banner 2s infinite;;
}

@keyframes Banner
{
    0%{ background-color: red;}
    33%{ background-color: blue;}
    66%{ background-color: chartreuse;}
    100%{ background-color: red;}

    0%{ color: black}
    33%{ color: white}
    66%{ color: black}
    100%{ color: black}

}

#Lista
{
    position: absolute;
    height: 82%;
    width: 325px;
    text-align: center;
    background-color: aquamarine;
}

#Medio
{
    position: absolute;
    right: 334px;
    height: 82%;
    width: 1252px;
    text-align: center;
    background-color: blueviolet;
    
}

#Derecha
{
    position: absolute;
    right: 7px;
    height: 82%;
    width: 325px;
    background-color: aquamarine;
}