h1 {
    text-align:center;
}

table {
    text-align:center;
}

.hora {
    background-color:#33cccc; 
    text-decoration: underline
}

.caguti {
    background-color:#999966;
}

.espasa {
    background-color:#ff4d4d;
}

.tuto {
    background-color:#33ff77;
}

.bardaji {
    background-color:#cc33ff;
}

.montesinos {
    background-color:#ffff66;
}

.pulido {
    background-color:#0080ff;
}
