h1 {text-align:center;}
table {text-align:center;}
td.hora {background-color:#33cccc; text-decoration: underline}
td.caguti {background-color:#999966;}
td.espasa {background-color:#ff4d4d;}
td.tuto {background-color:#33ff77;}
td.bardaji {background-color:#cc33ff;}
td.montesinos {background-color:#ffff66;}
td.pulido {background-color:#0080ff;}
